<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blackyak.b2c.common.db.mapper.ProductMapper">
  
  <select id="selectProductInfo" parameterType="ProductDto" resultType="ProductDto">
       	SELECT V_COMP_CD        as compCd
		     , V_REF_COMP_CD    as refCompCd
		     , V_GOODS_GB       as goodsGb
		     , V_BRND_CD        as brndCd
		     , V_PROD_CD        as prodCd
		     , V_PROD_NM        as prodNm
		     , V_PROD_DIV       as prodDiv
		     , V_PROD_DIV_NM    as prodDiv_nm
		     , V_GOOD_KIND_CD   as goodKindCd
		     , V_GOOD_KIND_NM   as goodKindNm
		     , V_PLAN_YEAR      as planYear
		     , V_PLAN_YEAR_NM   as planYearNm
		     , V_SESN_CD        as sesnCd
		     , V_SESN_NM        as sesnCm
		     , V_SEX_DIV        as sexDiv
		     , V_SEX_DIV_NM     as sexDivNm
		     , V_PROD_LINE_CD   as prodLineCd
		     , V_PROD_LINE_NM   as prodLineNm
		     , V_COLR_CD        as colrCd
		     , V_COLR_NM        as colrNm
		     , V_SIZE_CD        as sizeCd
		     , V_NORM_RTAL_PRCE as normRtalPrce
		     , V_MADE_YYMM      as madeYymm
		     , V_ORIG_NAT_CD    as origNatCd
		     , V_ORIG_NAT_NM    as origNatNm
		     , V_DISP_ORD       as dispOrd
       	   from US_B2C.V_MALL_PROD_ALL_INFO
       	  where v_comp_cd = #{compCd}
       	    and v_prod_cd = #{prodCd}
       	    and v_colr_cd = #{colrCd}
       	    and v_size_cd = #{sizeCd}
  </select>
</mapper>